/* You can add global styles to this file, and also import other style files */

:root{
	--background:#ffffff;
	--primary-green:#00a884;
	--primary-white:#ffffff;
	--primary-grey:#cecdcd;
	--secondary-green:#178c73;
	--web-ui-header-color:#202c33;
	--web-ui-hover-color:#2a3942;
	--web-ui-pop-up-color:#233138;
	--chat-ui-color:#111b21;
	--chat-icon-color:#b3bfc6;
	--chat-border-color:#30373b;
}

body
{
	background:var(--background);
	padding:0;
	margin:0;
}

@media (prefers-color-scheme: dark) {
	:root{
	  --background: #0d1117;
	  
	 }
}
